<template>
  <div class="home bg-gray-800">
    <Header />
    <TeeterTotter />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Lazy Loaded Compinents
const TeeterTotter = () => import("@/components/TeeterTotter.vue");
const Header = () => import("@/components/Header.vue");

@Component({
  components: {
    Header,
    TeeterTotter
  }
})
export default class Home extends Vue {}
</script>
