<template>
  <div class="beam" :style="beamInlineStyle">
    <ObjectShapes
      v-for="object in leftSideObjects"
      :object="object"
      :key="object.id"
    />
    <ObjectShapes
      v-for="object in rightSideObjects"
      :object="object"
      :side="true"
      :key="object.id"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";

// Lazy Loaded Compinents
const ObjectShapes = () => import("@/components/ObjectShapes.vue");

@Component({
  components: {
    ObjectShapes
  }
})
export default class Beam extends Vue {
  // Getters
  @Getter rightSideObjects!: any;
  @Getter leftSideObjects!: any;
  @Getter beamBending!: any;

  // Actions
  @Action addRightSideObject!: any;

  // Local Getters
  get beamBendings() {
    return this.beamBending;
  }

  get beamInlineStyle() {
    return { transform: `rotate(${this.beamBendings / 2}deg)` };
  }

  // Instance Methods
  beforeMount() {
    this.addRightSideObject();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.beam {
  @apply w-full bg-gray-400 relative;
  height: 0.1rem;
  transform: rotate(0deg);
  transition: transform 1.2s ease-in-out;
}
</style>
