<template>
  <div class="drop-shelf">
    <FallingObject
      v-for="(object, index) in fallingObjects"
      :object="object"
      :index="index"
      :timeOut="timeOut"
      @finished-falling="onFinishFalling"
      :key="object.id"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import {
  INITIALIZE_FALLING_OBJECTS,
  MOVE_LEFT,
  MOVE_RIGHT,
  ITERATION_COUNT_INCREASING,
  TIMEOUT_STEP_DECREASING,
  INITIAL_TIMEOUT
} from "@/utilities";
// Lazy Loaded Compinents
const FallingObject = () => import("@/components/FallingObject.vue");

@Component({
  components: {
    FallingObject
  }
})
export default class DropShelf extends Vue {
  // Getters
  @Getter fallingObjects!: any;

  // Actions
  @Action initializeFallingObjects!: any;
  @Action moveObjectRight!: any;
  @Action moveObjectLeft!: any;

  // Properties
  timeOut: number = INITIAL_TIMEOUT;
  iterationCounter: number = 0;

  // Methods
  onKeyDown(event: any) {
    if (event.keyCode === 39) this.moveObjectRight();
    if (event.keyCode === 37) this.moveObjectLeft();
  }

  onFinishFalling() {
    this.iterationCounter++;
    if (this.iterationCounter === ITERATION_COUNT_INCREASING) {
      this.timeOut -= TIMEOUT_STEP_DECREASING;
      this.iterationCounter = 0;
    }
  }

  // Instance Methods
  beforeMount() {
    this.initializeFallingObjects();
    window.addEventListener("keydown", this.onKeyDown);
  }

  beforeDestroy() {
    window.removeEventListener("keydown", this.onKeyDown);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.drop-shelf {
  @apply w-full relative;
  height: calc(65vh - 1.25rem);
}
</style>
