<template>
  <div>
    <ObjectShapes
      :object="object"
      :top="objectDropShelfTop"
      ref="block"
      :index="index"
      :isStoped="isStoped"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { FINISH_FALLING, TEETER_TOTTER_WIDTH } from "@/utilities";

// Lazy Loaded Compinents
const ObjectShapes = () => import("@/components/ObjectShapes.vue");

@Component({
  components: {
    ObjectShapes
  }
})
export default class FallingObject extends Vue {
  //Props
  @Prop({ required: true }) private object!: any;
  @Prop() private index!: number;
  @Prop() private timeOut!: number;

  // Actions
  @Action finishFalling!: any;

  //Local Properties
  objectWindowBottom: number = 0;
  objectDropShelfTop: number = this.object.height;
  timer: number = 0;

  //Local getters
  get isStoped() {
    return this.$store.state.isPaused;
  }

  get beamBending() {
    return this.$store.getters.beamBending;
  }

  get objectFinalPosition() {
    const { top, bottom } = this.getObjectBottomCoords();
    return this.beamBending >= 0
      ? top +
          ((bottom - top) / 2) *
            (1 - this.object.offset / (TEETER_TOTTER_WIDTH / 2))
      : bottom -
          ((bottom - top) / 2) *
            (1 - this.object.offset / (TEETER_TOTTER_WIDTH / 2));
  }

  //Methods
  getObjectBottomCoords() {
    const element: any = document.querySelector(".beam");
    console.log(element.getBoundingClientRect());
    const { top, bottom } = element.getBoundingClientRect();
    return { top, bottom };
  }

  incrementObjectDropShelfTop() {
    this.objectDropShelfTop += 20;
  }

  // Instance Methods
  updated() {
    if (this.isStoped) return clearTimeout(this.timer);
    if (this.index !== 0) return;

    this.objectWindowBottom = this.$refs.block.getObjectBottomCoords();
    this.timer = setTimeout(() => {
      if (this.objectWindowBottom >= this.objectFinalPosition - 20) {
        clearTimeout(this.timer);
        this.finishFalling();
        this.$emit("finished-falling");
        return;
      }
      this.incrementObjectDropShelfTop();
    }, this.timeOut);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
