<template>
  <div class="header">
    <p class="logo">Teeter Totter</p>
    <div class="button" @click="onToggle">
      {{ isStopped ? "Play" : "Pause" }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";

@Component
export default class TeeterTotter extends Vue {
  //Getters
  @Getter isStopped!: boolean;

  //Actions
  @Action pauseToggle!: any;

  //Methods
  onToggle() {
    this.pauseToggle();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.header {
  @apply w-screen h-10 bg-gray-900 flex items-center justify-between px-6;
  .logo {
    @apply text-xl text-gray-100 font-hairline;
  }
  .button {
    @apply cursor-pointer text-gray-100;
  }
}
</style>
