<template>
  <div :class="objectClassName" :style="objectStyle" ref="object"></div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ObjectShapes extends Vue {
  //Props
  @Prop({ required: true }) private object!: any;
  @Prop() private side!: boolean;
  @Prop() private top!: number;

  //Local Getters
  get objectClassName() {
    const { type } = this.object;

    // return the object class based on object type
    switch (type) {
      case "circle":
        return "circle-object";
      case "rectangle":
        return "rectangle-object";
      case "triangle":
        return "triangle-object";
    }

    return "";
  }

  get objectStyle() {
    const { offset, type, height } = this.object;
    const { side, roundUp, top } = this;

    const topOffset = top || 0;
    const leftOffset = side ? 50 + offset * 10 : 50 - offset * 10;

    const blockHeight =
      type !== 1
        ? {
            height: `${roundUp(height)}px`,
            width: `${roundUp(height)}px`,
            lineHeight: `${roundUp(height)}px`
          }
        : {
            borderWidth: `0 ${roundUp(height)}px ${roundUp(height)}px ${roundUp(
              height / 2
            )}px`,
            lineHeight: `${roundUp(height * 1.2)}px`
          };

    return {
      top: `${topOffset}px`,
      left: `${leftOffset}%`,
      ...blockHeight
    };
  }

  // local Methods
  roundUp(number: number) {
    return Math.round(number * 100) / 100;
  }
  getObjectBottomCoords() {
    const element: any = this.$refs.object;
    return element.getBoundingClientRect().bottom;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.circle-object,
.rectangle-object,
.triangle-object {
  @apply absolute text-center;
  transform: translate(-50%, -100%);
  transiton: tansform 1s ease-in-out;
}

.circle-object {
  background-color: #29b6f6;
  border-radius: 50%;
}
.rectangle-object {
  background-color: #ef5350;
}
.triangle-object {
  width: 0;
  height: 0;
  line-height: 4rem;
  border-style: solid;
  border-color: transparent transparent #ffca28 transparent;
}
</style>
