<template>
  <div class="stage">
    <Beam />
    <Fulcrum />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Lazy Loaded Compinents
const Fulcrum = () => import("@/components/Fulcrum.vue");
const Beam = () => import("@/components/Beam.vue");

@Component({
  components: {
    Fulcrum,
    Beam
  }
})
export default class Stage extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.stage {
  @apply mx-auto w-full;
  height: calc(35vh - 1.25rem);
}
</style>
