<template>
  <div class="wrapper">
    <DropShelf />
    <Stage />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Lazy Loaded Compinents
const DropShelf = () => import("@/components/DropShelf.vue");
const Stage = () => import("@/components/Stage.vue");

@Component({
  components: {
    DropShelf,
    Stage
  }
})
export default class TeeterTotter extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.wrapper {
  @apply w-4/5 mx-auto;
  height: calc(100vh - 2.5rem);
}
</style>
